<div class="container bg-white mt-5 p-5 d-block mx-auto w-50">
 
<div class="border border-dark mb-2">
  
   <label for="train-from" >From</label>
   <input type="text" name="train-from" id="train-from">
  

   <label for="train-to" >To</label>
   <input type="text" name="train-to" id="train-from">
  
   <label for="date">Date</label>
   <input type="date" name="date" id="date">

   <label for="cars">Class</label>
<select for="cars">
   <option value="volvo">All class</option>
  <option value="saab">Sleeper class</option>
  <option value="opel">AC</option>
  <option value="audi">Non AC</option>
</select>
  

  </div> 
  <a href="http://localhost:4200/payment-page" class="btn d-block mx-auto btn-primary ">Book it</a>
</div>

