<!-- all data will be saved in db.json -->
<!--  json-server --watch db.json to run json server -->
<nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
  
  
 
  <button class="navbar-toggler ms-1 shadow-none"
         type="button"
          data-bs-toggle="collapse"
           data-bs-target="#navbarcnt"
            aria-controls="navbarSupportedContent"
             aria-label="Toggle navigation "
              onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))"
               aria-expanded="false" >
    <svg width="25" height="25" viewBox="0 0 100 100">
      <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
      <path class="line line2" d="M 20,50 H 80" />
      <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
    </svg>
    
  </button>

  <div class="collapse navbar-collapse  " id="navbarcnt">
    
  
          <ul class="navbar-nav d-flex justify-content-center w-100">
                <!-- HOME -->
                <li class="nav-item ">
                  <a class="nav-link text-center" routerLink="home" routerLinkActive="active">
                    <span><i class="fal fa-home-alt d-block mx-auto mt-2 " id="home"></i></span>
                    <span class="text-center" >Home</span>
                  </a>  
               </li>

               <!-- FLIGHTS -->
                <li class="nav-item">
                  <a  class="nav-link d-flex flex-column" routerLink="flights" routerLinkActive="active">
                    <span> <img class="d-block mx-auto" id="flights" src="../assets/airplane.png" ></span>
                    <span class="text-center" >Flights</span>
                  </a>
                </li>
              
                <!-- TRAINS -->
                <li class="nav-item">
                   <a class="nav-link d-flex flex-column" routerLink="trains" routerLinkActive="active">
                    <span> <img class="d-block mx-auto" id="trains" src="../assets/train.svg" ></span>
                    <span class="text-center">Trains</span>
                  </a>
                </li>


                <!-- HOTELS -->
                <li class="nav-item">
                  <a class="nav-link d-flex flex-column" routerLink="hotels" routerLinkActive="active">
                    
                    <span class="d-block mx-auto"><i class="fal fa-hotel  mt-2"  id="hotels"></i></span>
                    <span class="text-center">Hotels</span>
                  
                   </a>
                 </li>
                 

                 
                 
               
              
                </ul>
                <ul class="navbar-nav d-flex justify-content-end m-1"> 

                 <!-- LOGIN -->
                <li class="nav-item">
                    <a  class="nav-link text-center" routerLink="login"  routerLinkActive="active">Login</a>
                  </li>
                  
                  <!-- SIGNUP -->
                  <li class="nav-item">
                    <a class="nav-link text-center" routerLink="signup" routerLinkActive="active">Signup</a>
                  </li>
              
                </ul>
     
 
     
   

  </div>
</nav>


<div class="container">
<router-outlet></router-outlet> 
</div>



<!-- <app-footer class="mt-auto w-100 "></app-footer> -->
<!-- FOOTER -->
<!-- <div style="position:absolute; bottom: 0px;  width: 100%;">
  <app-footer ></app-footer>
</div> -->